<%
   @pagetitle = 'About Us'
   @page_class = 'static about-page'
%>

<div class="container-fluid">
  <header>
    <!-- TODO Insert Brand Image -->
    <h1 class="title text-center">About Us</h1>
  </header>
  <div id="about-content" class="text-center center-block">
    <p>The Band &quot;Just Friends&quot; was launched in 2009 after a group of friends Earl Crosby, Anne-Marie Placide, Dune Ali and Chris Humphrey came together to play mas like we used to in the Olden Days.
      We felt that true masqueraders had become disenchanted with the new carnival experience of  Big Bands, very expensive costumes, music for the gym and long periods of just standing around in the band.</p>
    <p>&quot;Just Friends&quot; responded to this cry and judging from all the positive feedback, our masqueraders enjoyed a fantastic experience.</p>
    <p>Our Goal is to keep the band to a manageable size so the friends of &quot;Just Friends&quot; and their friends can continue to simply have a great time.</p>
    <p>We have already initiated a series of affordable events where we can all come together to listen to music, dance or simply socialize from time to time. We have tried to be creative in the planning of these events,
      and our clients have really enjoyed themselves. In fact we are the first to have a party dancing to live DVD’s</p>
    <p>We will continue to forge ahead in our effort to truly entertain our Friends.</p>
  </div>
</div>