<%
   @pagetitle = 'Contact Us'
   @page_class = 'static contact-page'
%>

<div class="container-fluid">
  <header>
    <!-- TODO Insert Brand Image -->
    <h1 class="title text-center">Contact Us</h1>
  </header>
  <div id="about-content" class="row text-center center-block">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <h2>Registration @ Crosby's Music Center</h2>
          <address>
            <p>
                54 Western Main Road, St. James<br/>
                <abbr title="Phone">P:</abbr> (868) 622-7622<br/>
            </p>
          </address>
      <p>
        <u>Hours</u><br/>
        Monday - Friday; 4pm - 7pm<br/>
        Saturday; 10am - 4pm
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <h2>Information</h2>
      <p>
        <em>For all information, contact: </em><br/>
        Anne-Marie Placide: (868) 765-7725<br/>
        Earl Crosby: (868) 680-7383<br/>
        Chris Humphrey: (868) 680-7995<br/>
      </p>
      <p><strong>For international enquiries</strong>, contact (305) 848-2901</p>
      <p><a href="mailto:contact@justfriendstt.com">contact@justfriendstt.com</a></p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>