<div class="costume-variant-image col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <%= link_to(attachment_image_tag(costume_variant_image, :file, :limit, 400, nil, {alt: "#{costume_variant_image.costume_variant} Variant Image", class: 'img-responsive fancybox', rel: "gallery#{costume_variant_image.costume_variant.id}"}), attachment_url(costume_variant_image, :file), class: 'thumbnail') %>
</div>