@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'fonts';
@import 'menu';
@import 'static_pages';

html, body {
  height: 100%;
}

.user-interface {
  h1, h2, h3, h4, p {
    font-family: 'GothamBold';
  }

  h2 {
    color: #fcf3e9;
  }

  p {
    color: white;
  }

  a {
    color: inherit;
  }
}
