@font-face {
  font-family: 'GothamBold';
  src: font-url('Gotham-Bold.eot');
  src: font-url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('Gotham-Bold.otf')  format('opentype'),
  font-url('Gotham-Bold.woff') format('woff'),
  font-url('Gotham-Bold.ttf')  format('truetype'),
  font-url('Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}